*{
    color:rgb(38, 122, 133);
    background-color: rgba(252, 252, 252, 0.418);
}
img{
    width: 300px;
}
h1{
  font-family: "Limelight", sans-serif;
  font-weight: 400;
  font-style: normal;
}
h1{
    color:rgb(31, 84, 153);
}
p{
    color:rgb(65, 116, 82)}
p{
  font-family:"Unica One", sans-serif;
  font:weight 400px;
  font-style:normal
}
h3{
  font-family: "Aldrich", sans-serif;
  font-weight: 400;
  font-style: normal;
}